.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
}
.page-header .navbar-nav {
    float: right;
}
.page-header>div>div, .page-header>div>ul {
    display:inline-block;
}
.text-edit {
    padding: 13px 0 0 0;
}
.account {
    text-align:right;
}
.account>div, .account>ul {
    text-align:left;
}
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}
.content {
    margin-top:70px;
    width:100%
}
footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}
footer p {
    padding:5px 0 12px 10px
}

.users_list{
    width: 300px;
    padding: 10px 20px;
    background-color: #EEE;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #888;
}

.input_user{
    width: 170px;
    padding: 0 10px;
    height: 25px;
    margin-bottom: 20px;
}

.error_mess{
     width: 400px;
   border: 1px solid #D8D8D8;
   padding: 5px;
   border-radius: 5px;
   font-family: Arial;
   font-size: 14px;
   text-transform: uppercase;
   background-color: rgb(255, 249, 242);
   color: rgb(211, 0, 0);
   text-align: center;
}